asgiref
atomicwrites
attrs
build
certifi
charset-normalizer
click
colorama
Django
django-filter
djangorestframework
djangorestframework-simplejwt
idna
importlib-metadata
iniconfig
packaging
pip-tools
pluggy
py
PyJWT
pyproject_hooks
pytest
pytest-django
pytest-pythonpath
pytz
requests
sqlparse
toml
tomli
typing_extensions
urllib3
zipp
